.mainWrapper {
  height: calc(100vh - var(--header-height));
  display: grid;
  margin-block-start: var(--header-height);
  grid-template-columns: minmax(auto, calc(var(--page-spacing))) repeat(10, 1fr) minmax(
      auto,
      calc(var(--page-spacing))
    );
  max-width: var(--screen-xl);
  margin-inline: auto;
  > * {
    height: 100%;
    grid-column: 2 / span 10;
  }
}
