.mainWrapper {
  background-image: url('../../../../public/images/svg/pattern-black.svg');
  height: 100vh;
  padding-top: 3rem;
  display: grid;
  grid-template-columns: minmax(auto, var(--page-spacing)) repeat(10, 1fr) minmax(
      auto,
      var(--page-spacing)
    );
  max-width: var(--screen-xl);
  margin-inline: auto;
  > * {
    height: 100%;
    grid-column: 2 / span 10;
  }
}
