.AvatarContainer {
  border-radius: 50%;
  block-size: 10ch;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(var(--primary), var(--secondary));
}
