.btn {
  padding: var(--btn-padding-horizontal) var(--btn-padding-vertical);
  display: flex;
  align-items: center;
  svg {
    margin-right: 5px;
  }
  &:disabled {
    // TODO add a variable for disabled state
    background-color: rgb(172, 170, 170);
    color: #333;
  }
}
.btnPrimary {
  background-color: var(--primary);
  color: #fff;
  &:hover {
    //   background-color: darken(var(--primary), 5%);
  }
}
.btnGradient {
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  color: #fff;
  &:hover {
    //   background-color: darken(var(--primary), 5%);
  }
}
.btnSelected {
  border: 1px solid #fff;
}
