.Input {
  border: none;
  width: 100%;
  border-bottom: 2px solid #fff;
  margin-block-start: var(--spacing-2);
  background-color: #445565;

  color: #fff;
  transition: border 0.2s ease-in-out;
  &:focus-visible {
    outline: 0;
  }
  padding-block: var(--spacing-2);
  &.Error {
    border-bottom: 2px solid var(--danger);
  }
}
.textArea {
  margin-block-start: var(--spacing-2);
  background-color: #445565;
  resize: none;
}
.Label {
  display: block;
  text-transform: capitalize;
}
.explanation {
  font-size: var(--fs-200);
  color: var(--lightest-gray);
}
