//TODO refactor this to use existing scss
.drawerContainer {
  --drawer-bg: var(--dark-green);
  display: grid;
  align-items: center;
  background-color: var(--drawer-bg);
  position: fixed;
  height: 0%;
  min-inline-size: 100%;
  bottom: 0;
  left: 0;
  z-index: 1001;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  &.visible {
    min-height: 22%;
    transform: translateY(0);
  }
}
[data-theme='light'] {
  .drawerContainer {
    --drawer-bg: var(--white);
  }
}

.commentContainer {
  margin-block-end: var(--spacing-4);
  svg {
    margin-inline-start: auto;
    color: var(--lightest-gray);
  }
}
.iconContainer {
  width: 100%;
  cursor: pointer;

  padding: var(--spacing-2) var(--spacing-4);
  display: flex;
  align-items: center;
  height: 100%;
  &:hover {
    background-color: hsl(203 33% 22% + 20%);
  }
  svg {
    margin-inline-start: auto;
  }
}
