.navigationLinksContainer {
  > a {
    text-transform: capitalize;
    display: block;
    padding-inline-start: var(--spacing-4);
    padding-block: var(--spacing-3);
    &:hover {
      background-color: hsl(203 33% 22% + 20%);
    }
  }
}
